//
// Typely Container
// --------------------------------------------------
//
// This is the main typely container that wraps the editor
// with all its interfaces and tooltips. General scaffold
// rules go here, plus some styles for the actual text
// produced by the editor.
//
// The rules in this file control only the most essential
// stuff, such as the spacing between sections, whilst
// leaving the more aesthetic rules, such as the font-family
// and text size/color, to the user of the plugin.

.typely-container {
	* {
		.box-sizing(border-box);
	}
	*:after,
	*:before {
		.box-sizing(border-box);
	}
	position: relative;
	[contenteditable] {
		outline: 0;
	}
	.post-subtitle,
	.post-title {
		max-width: 624px;
	}
	.post-title {
		margin: 10px 0 18px;
		min-height: 66px;
	}
	.post-subtitle {
		margin: 10px 0 18px;
		min-height: 36px;
	}
	.post-content {
		.transition(margin 0.2s ease-out 0s);
		position: relative;
		> hr {
			margin: 0 auto 15px;
			color: #b3b3b3;
			width: 100px;
		}
		.post-section {
			text-indent: 0;
			margin: 0 0 35px;
			word-wrap: break-word;
			text-align: left;
			min-height: 20px;
			line-height: 1.25;
			iframe {
				width: 100%;
				height: 355px;
			}
		}
		.post-section h1,
		.post-section h2,
		h1.post-section,
		h2.post-section {
			margin-top: 60px;
			line-height: 1.25;
		}
		.post-section ol,
		.post-section ul,
		ol.post-section,
		ul.post-section {
			position: relative;
			> li {
				margin-bottom: 15px;
			}
		}
		.post-section ol,
		ol.post-section {
			padding: 0;
			counter-reset: item;
			> li {
				display: block;
				&:before {
					display: inline-block;
					content: counter(item) " ";
					counter-increment: item;
					width: 20px;
				}
			}
		}
		.post-section ul,
		ul.post-section {
			list-style-type: disc;
			padding-left: 20px;
		}
	}
}
