//
// Typely Insert Media Button + Tooltip
// --------------------------------------------------
//
// Rules for the [Insert Media] button that appears in the
// gutter between sections, plus rules for the tooltip
// that appears when [Insert Media] is clicked.
//
// Only positioning and spacing rules go here, since the
// tooltip extends .typely-tooltip and the actual insert
// media button is a typely-btn

.typely-insert-media {
	position: absolute;
	z-index: 3;
	.tooltip {
		&:extend(.typely-tooltip all);
		bottom: 100%;
		left: 50%;
		.translate(-50%, 0);
		margin-bottom: @tooltip-arrow-size;
	}
}
